body{
    text-align: center;
    background: linear-gradient(to bottom, #000000, #3c1b61);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}


input[type="submit"] {
    width: 20%;
    background-color: #5d16af;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #3c1b61;
}

h1 {
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}